.index-title {
    text-align: center;
    color: gray;
    font-size: 18px;
    font-weight: bold
}

.name {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}

.type-title {
    text-align: center;
    color: rgb(116, 116, 116);
    font-size: 18px;
    margin-bottom: 10px;
}

.types-badges {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
}

.badges {
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-transform: capitalize !important;
    font-weight: bold;
}

span + span {
    margin-left: 10px;

}

.subtitles {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 7px;
}

.descriptions {
    text-align: center;
    color: rgb(116, 116, 116);
    font-size: 18px;
    margin-bottom: 10px;
}

.badges-abs {
    border: solid rgb(226, 32, 32) 1px;
    padding: 8px;
    border-radius: 20px;
    margin-top: 8px;
    display: inline-block;
    width: 10em;
    font-weight: bold;
    text-transform: capitalize;
}

.grid-titles {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.grid-subtitles {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 8em;
    border: none;
    padding: 8px;
    text-align: center;
    border-radius: 20px;
    background-color: #ece9e9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-transform: lowercase;
}

.stats-badges {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 5px;
}




.stats-hp {
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.stats-atk {
    background-color: rgb(255, 145, 0);
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.stats-df {
    background-color: rgb(231, 228, 37);
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.stats-spa {
    background-color: rgb(127, 221, 238);
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.stats-spd {
    background-color: rgb(30, 192, 65);
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.stats-speed {
    background-color: rgb(218, 66, 154);
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.stats-tot {
    background-color: rgb(135, 102, 243);
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.stats-sub {
    background-color:#dadada;
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    font-size: 14px;
    font-weight: bold;

}

.link {
    text-decoration: none;
    color: black !important
}

.link:hover {
    text-decoration: none;
    text-emphasis: none;
    color: black !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.bolt {
    background-color:#eee23c;
    border-radius: 40%;
    padding: 3px;
}

.fire {
    background-color:#d64400;
    border-radius: 40%;
    padding: 3px;
}

.snowflake {
    background-color:#98ecec;
    border-radius: 40%;
    padding: 3px;
}

#weaknesses {
    background-color:#a3a5a5;
    border-radius: 40%;
    font-size: 14px;
    letter-spacing: normal;
    padding: 3px;
}